/** 
-Import Google Font and Define font variable
-Define color variables
-Reset CSS properties(margin, padding)
*/

// Google Font
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;800&display=swap");

// Font variable
$manrope: "Manrope", sans-serif;

// Colors
:root {
  --color-light-green: #3ee9e5;
  --color-dark-blue: #093f68;
  --color-gray: #777f98;
  --color-black: #080c20;
  --color-error-red: #ff2965;
  --color-white: #ffffff;
}

// Resetting
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $manrope;
  font-size: 1.5rem;
  background: var(--color-black);
}
