.notification {
  margin-top: 14.5rem;
  width: 100vw;
  text-align: center;
  @media screen and (min-width: 610px) {
    background: url("../assets/bg-footer-squiggle.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .title-container {
    width: 100%;
    margin: 0 auto;
    background: url("../assets/bg-footer-squiggle.svg");
    height: 6.7rem;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (min-width: 610px) {
      background: none;
    }
    .title-container-inner {
      width: 32.8rem;
      margin: 0 auto;
      @media screen and (min-width: 610px) {
        width: 33.6rem;
      }
      @media screen and(min-width:1120px) {
        width: 73rem;
      }
    }
  }
  &__title {
    font-size: 2.4rem;
    color: var(--color-white);
    padding: 0 4rem;
    @media screen and (min-width: 610px) {
      padding: 0;
    }
    @media screen and(min-width:1120px) {
      font-size: 3.2rem;
    }
  }
  .form-container {
    margin-top: 3.2rem;
    padding-bottom: 16rem;
    @media screen and (min-width: 610px) {
      margin-top: 2rem;
      padding-bottom: 12rem;
    }
  }
  &__form {
    width: 32.8rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: 610px) {
      width: 47.6rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  .input {
    width: 327px;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    background-color: var(--color-dark-blue);
    color: var(--color-gray);
    font-weight: 800;
    @media screen and (min-width: 610px) {
      width: 32rem;
    }
    &:focus {
      border: none;
    }
  }
  .input-container {
    position: relative;
    .warning {
      position: absolute;
      padding-left: 3rem;
      color: var(--color-error-red);
      display: none;
    }
  }
  .btn {
    width: 327px;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    border-radius: 2rem;
    border: none;
    font-weight: 800;
    background-color: var(--color-light-green);
    @media screen and (min-width: 610px) {
      width: 14rem;
    }
    &:hover {
      border: 2px solid var(--color-light-green);
      background-color: var(--color-black);
      color: var(--color-white);
    }
    &:active {
      border: 2px solid var(--color-light-green);
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
  .btn-container {
    margin-top: 2.4rem;
    align-self: center;
    @media screen and (min-width: 610px) {
      margin-top: 0;
    }
  }
}
