.plans {
  margin: 0 auto;
  width: 32.7rem;
  margin-top: 14.4rem;
  @media screen and(min-width:610px) {
    width: 57.3rem;
    margin-top: 14.1rem;
  }
  @media screen and(min-width:1120px) {
    margin-top: 202px;
  }
  .title-container {
    text-align: center;
    margin-bottom: 5.6rem;
  }
  &__title {
    margin-bottom: 2.7rem;
    font-size: 2.4rem;
    color: var(--color-white);
    font-weight: 800;
  }
  &__description {
    font-size: 1.5rem;
    color: var(--color-gray);
    line-height: 2.5rem;
  }
}
.plan {
  border-radius: 1rem;
  margin-bottom: 6.5rem;

  padding-left: 3rem;
  padding-top: 4.9rem;
  padding-bottom: 3.2rem;
  @media screen and(min-width:610px) {
    padding-left: 3.8rem;
    padding-bottom: 4.8rem;
    width: 44.5rem;
    margin-right: auto;
    margin-left: auto;
  }
  &.free-container {
    position: relative;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    &::before {
      position: absolute;
      content: url("../assets/icon-free.svg");
      top: -26px;
    }
  }
  &.paid-container {
    position: relative;
    background-color: var(--color-light-green);
    color: #080c20;
    &::before {
      position: absolute;
      content: url("../assets/icon-paid.svg");
      top: -30px;
    }
  }
  .plan-title-container {
    margin-bottom: 5.1rem;
    width: 26.8rem;
    @media screen and(min-width:610px) {
      margin-bottom: 2.4rem;
      width: 36.9rem;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1.9rem;
  }
  &__body {
    line-height: 2.5rem;
    font-weight: 200;
  }
  &__amount {
    font-size: 4rem;
    margin-bottom: 1.9rem;
    .text-sm {
      font-size: 1.5rem;
      font-weight: 200;
      letter-spacing: 0.1rem;
    }
  }
  &__features {
    list-style: none;

    &__item {
      position: relative;
      font-weight: 500;
      padding-left: 28px;
      margin-bottom: 1.2rem;
      &:last-child {
        margin-bottom: 0;
      }
      &.text-light {
        font-weight: 200;
      }
      &.check-light {
        &::before {
          position: absolute;
          content: " ";
          display: inline-block;
          width: 12px;
          height: 12px;
          top: 6px;
          left: 3px;
          background-image: url("../assets/icon-check-green.svg");
          background-repeat: no-repeat;
        }
      }
      &::before {
        position: absolute;
        content: " ";
        display: inline-block;
        width: 11px;
        height: 11.36px;
        top: 6px;
        left: 3px;
        background-image: url("../assets/icon-check.svg");
        background-repeat: no-repeat;
      }
    }
  }
}
