/** 
-Import Google Font and Define font variable
-Define color variables
-Reset CSS properties(margin, padding)
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;800&display=swap");
:root {
  --color-light-green: #3ee9e5;
  --color-dark-blue: #093f68;
  --color-gray: #777f98;
  --color-black: #080c20;
  --color-error-red: #ff2965;
  --color-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  height: 100vh;
  background: var(--color-black);
}

.main .image-center {
  background: url("../assets/illustration-hero-mobile.png");
  width: 100%;
  height: 23.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 6.55rem;
  margin-bottom: 4.75rem;
}
.main .intro {
  margin: 0 auto;
  width: 32.7rem;
  text-align: center;
}
.main .intro__title {
  color: var(--color-white);
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 800;
  padding: 0 4rem;
  margin-bottom: 2.3rem;
}
.main .intro__title-b {
  color: var(--color-light-green);
}
.main .intro__body {
  font-weight: 500;
  color: var(--color-gray);
  line-height: 2.5rem;
}
.main .intro__scroll-icon {
  margin-top: 3.2rem;
  margin-bottom: 14.4rem;
}

.header {
  padding-top: 4rem;
  text-align: center;
}

.features {
  margin: 0 auto;
  width: 32.7rem;
  text-align: center;
}

.feature {
  margin-bottom: 5.6rem;
}
.feature.anywhere-container {
  margin-bottom: 0;
}
.feature__logo-container {
  background-color: var(--color-dark-blue);
  width: 12rem;
  height: 12.3rem;
  border-radius: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__logo-container .logo-outer-passion {
  width: 6.6rem;
  height: 8rem;
}
.feature__logo-container .logo-outer-passion > img {
  width: 100%;
}
.feature__logo-container .logo-outer-freedom {
  width: 5.5rem;
  height: 6.7rem;
}
.feature__logo-container .logo-outer-freedom > img {
  width: 100%;
}
.feature__logo-container .logo-outer-lifestyle {
  width: 6rem;
  height: 7.1rem;
}
.feature__logo-container .logo-outer-lifestyle > img {
  width: 100%;
}
.feature__logo-container .logo-outer-anywhere {
  width: 7.8rem;
  height: 5.6rem;
}
.feature__logo-container .logo-outer-anywhere > img {
  width: 100%;
}
.feature__title {
  margin-top: 3.2rem;
  margin-bottom: 1.1rem;
  font-size: 1.8rem;
  color: var(--color-white);
}
.feature__body {
  line-height: 2.5rem;
  color: var(--color-gray);
}

.plans {
  margin: 0 auto;
  width: 32.7rem;
  margin-top: 14.4rem;
}
.plans .title-container {
  text-align: center;
  margin-bottom: 5.6rem;
}
.plans__title {
  margin-bottom: 2.7rem;
  font-size: 2.4rem;
  color: var(--color-white);
  font-weight: 800;
}
.plans__description {
  font-size: 1.5rem;
  color: var(--color-gray);
  line-height: 2.5rem;
}

.plan {
  border-radius: 1rem;
  margin-bottom: 6.5rem;
  padding-left: 3rem;
  padding-top: 4.9rem;
  padding-bottom: 3.2rem;
}
.plan.free-container {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}
.plan.paid-container {
  background-color: var(--color-light-green);
  color: #080c20;
}
.plan .plan-title-container {
  margin-bottom: 5.1rem;
}
.plan__title {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 1.9rem;
}
.plan__body {
  line-height: 2.5rem;
  font-weight: 200;
}
.plan__amount {
  font-size: 4rem;
  margin-bottom: 1.9rem;
}
.plan__amount .text-sm {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}
.plan__features {
  list-style: none;
}
.plan__features__item {
  position: relative;
  font-weight: 500;
  padding-left: 28px;
  margin-bottom: 1.2rem;
}
.plan__features__item:last-child {
  margin-bottom: 0;
}
.plan__features__item.text-light {
  font-weight: 200;
}
.plan__features__item.check-light::before {
  position: absolute;
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  top: 6px;
  left: 3px;
  background-image: url("../assets/icon-check-green.svg");
  background-repeat: no-repeat;
}
.plan__features__item::before {
  position: absolute;
  content: " ";
  display: inline-block;
  width: 11px;
  height: 11.36px;
  top: 6px;
  left: 3px;
  background-image: url("../assets/icon-check.svg");
  background-repeat: no-repeat;
}

.notification {
  margin-top: 14.4rem;
  margin-bottom: 16rem;
  text-align: center;
}
.notification .title-container {
  background-image: url("../assets/bg-footer-squiggle.svg");
  background-size: cover;
  background-position: top;
}
.notification__title {
  font-size: 2.4rem;
  padding: 0 4rem;
  color: var(--color-white);
}
.notification__form {
  margin: 0 auto;
  width: 32.7rem;
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
}
.notification__form .input {
  padding: 1.5rem;
  border: none;
  border-radius: 2rem;
  margin-bottom: 2.4rem;
  background-color: var(--color-dark-blue);
  color: var(--color-gray);
  font-weight: 800;
  line-height: 2.5rem;
}
.notification__form .btn {
  padding: 1.5rem;
  background-color: var(--color-light-green);
  border: none;
  border-radius: 3rem;
  font-weight: 800;
  color: var(--color-dark-blue);
  line-height: 2.5rem;
}

/*# sourceMappingURL=main.css.map */
